<div class="header">
<%= @list.name %></h2>
</div>

<div class="button">
<%= link_to "Delete entire list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
<div class="button">
<%= link_to "Add a new movie", new_list_bookmark_path(@list) %>
</div>
<div class="button">
<%= link_to "Return to all lists", lists_path(@list) %>
</div>

<% bookmarks = @list.bookmarks %>
<ul class="listcontainer">
  <% bookmarks.each do |bm| %>
    <div class="moviecard">
    <h5><%= bm.movie.title %></h5>
    <p>Comment: <%= bm.comment %></p>
    <p><%= image_tag bm.movie.poster_url, alt: bm.movie.title %></p>
    <div class="button"><%= link_to "Delete bookmark", bookmark_path(bm), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
    </div>
  <% end %>
</ul>
